<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>move it!</title>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row column background">
      <div class="row nav align-middle">
        <div class="column">
          <h1><%= link_to "move it!", "/"%></h1>
        </div>
        <% if current_user %>
          signed in as &nbsp; <%= link_to current_user.name, "/users/#{current_user.id}" %>
          <span> &nbsp; | &nbsp; </span>
          <%= link_to "sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "sign in", "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
